

.mapboxgl-ctrl-geolocate{
  display: none !important;
}

.mapboxgl-ctrl-top-left{
    top: 35px;
}

.mapboxgl-ctrl-top-right{
    top: 22px;
}

.mapboxgl-popup-content{
  padding: 2px 20px 2px 4px;
}

#save-button:hover, button:hover{
  background-color: #d8f23f !important;
  cursor: pointer;
}

@media screen and (max-width: 650px) {

  #signOutIn {
    width: 27%;
    top: 1% !important;
  }
}


@media screen and (max-width: 350px) {

  .mapboxgl-ctrl-top-left{
    left: -2%;
    width: 60%;
  }

  #originLocationBox{
    right: 3px;
  }

}
