

.mapboxgl-ctrl-geolocate{
  display: none !important;
}

.mapboxgl-ctrl-top-left, .mapboxgl-ctrl-top-right{
    top: 35px;
}

button:hover{
  background-color: #d8f23f !important;
  cursor: pointer;
}


/* @media screen and (orientation: landscape) {
  .mapboxgl-ctrl-top-left, .mapboxgl-ctrl-top-right{
    top: 10%;
  }
} */
